.primary-btn{
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #136DFB;
    color: #FFFFFF;
    border: 1px solid #136DFB;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &:hover{
        background-color: #0050CE;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
    }
}

.box-shadow{
    box-shadow: 0px 15px 60px 0px #0A51C9;
}
.mt-10{
    margin-top: 10px;
}
.mb-18{
    margin-bottom: 18px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-113{
    margin-top: 113px;
    margin-bottom: 95px;
}

.colorful-heading-sm-size{
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(to right,#BC1AE4 6%,#FF623F 9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.large-heading{
    font-size: 48px;
    font-weight: 600;
    color: #202323;
    line-height: 60px;
    
}

.normal-text{
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.card-heading{
    font-size: 20px;
    font-weight: 600;
    color: #202323;
}

.anchor-tag{
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    text-decoration: none;
}