* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.outer-container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 135px;
  border-bottom: 1px solid #dedede;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  position: sticky;
  top: 0px;
  z-index: 10;
}
@media screen and (max-width: 1300px) {
  .outer-container .navbar {
    padding: 10px 50px;
  }
}
@media screen and (max-width: 500px) {
  .outer-container .navbar {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 550px) {
  .outer-container .navbar .logo-Container {
    width: 50%;
  }
}
.outer-container .navbar .nav {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 3;
}
@media screen and (max-width: 950px) {
  .outer-container .navbar .nav {
    display: none;
  }
}
.outer-container .navbar .nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
}
.outer-container .navbar .nav a:hover {
  color: #136dfb;
}
.outer-container .navbar .nav .active {
  font-weight: 600;
  color: #136dfb;
}
.outer-container .navbar .nav button {
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.outer-container .navbar .hamburgur-menu {
  display: none;
}
@media screen and (max-width: 950px) {
  .outer-container .navbar .hamburgur-menu {
    display: block;
    /* Menu */
  }
  .outer-container .navbar .hamburgur-menu .hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .outer-container .navbar .hamburgur-menu .hamburger .line {
    width: 100%;
    height: 5px;
    background-color: #202323;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .outer-container .navbar .hamburgur-menu .hamburger.open .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .outer-container .navbar .hamburgur-menu .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  .outer-container .navbar .hamburgur-menu .hamburger.open.open .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .outer-container .navbar .hamburgur-menu .menu {
    position: absolute;
    top: 60px;
    right: 10%;
    background-color: #fff;
    width: 200px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .outer-container .navbar .hamburgur-menu .menu.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .outer-container .navbar .hamburgur-menu .menu .active {
    font-weight: 600;
    color: #136dfb;
  }
  .outer-container .navbar .hamburgur-menu .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .outer-container .navbar .hamburgur-menu .menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  .outer-container .navbar .hamburgur-menu .menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  .outer-container .navbar .hamburgur-menu .menu ul li:last-child {
    border: none;
  }
}
@media screen and (max-width: 550px) {
  .outer-container .navbar .hamburgur-menu .hamburger {
    height: 25px;
    width: 30px;
  }
  .outer-container .navbar .hamburgur-menu .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
}
@media screen and (max-width: 480px) {
  .outer-container .navbar .hamburgur-menu .hamburger {
    height: 23px;
  }
}
.outer-container .outer-banner-body {
  position: relative;
  overflow: hidden;
  height: auto;
}
.outer-container .outer-banner-body .left,
.outer-container .outer-banner-body .right {
  border-radius: 50% 22% 40% 80%;
  width: 900px;
  height: 900px;
  position: absolute;
  z-index: 0;
  top: 100px;
}
@media screen and (max-width: 1094px) {
  .outer-container .outer-banner-body .left,
  .outer-container .outer-banner-body .right {
    top: -100px;
  }
}
@media screen and (max-width: 580px) {
  .outer-container .outer-banner-body .left,
  .outer-container .outer-banner-body .right {
    top: -188px;
  }
}
.outer-container .outer-banner-body .left {
  filter: blur(100px);
  left: -450px;
  background: radial-gradient(circle at 50% 50%, #c0bedd, rgba(255, 255, 255, 0.2));
}
@media screen and (max-width: 580px) {
  .outer-container .outer-banner-body .left {
    left: -800px;
  }
}
.outer-container .outer-banner-body .left-img {
  position: absolute;
  left: 0;
  top: 222px;
}
.outer-container .outer-banner-body .right {
  filter: blur(40px);
  right: -250px;
  background: radial-gradient(circle at 50% 50%, #e5eaf9, rgba(255, 255, 255, 0.2));
  overflow: hidden;
}
@media screen and (max-width: 580px) {
  .outer-container .outer-banner-body .right {
    right: -500px;
  }
}
.outer-container .outer-banner-body .right-img {
  position: absolute;
  right: -40px;
  top: 202px;
}
.outer-container .outer-banner-body .snake {
  z-index: 0;
  top: 30.5%;
  position: absolute;
}
.outer-container .outer-banner-body .circle {
  position: absolute;
  left: 550px;
  top: 30%;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  .outer-container .outer-banner-body .circle {
    left: 417px;
    top: 36.3%;
  }
}
.outer-container .banner {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.outer-container .banner .banner-div {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .banner-div {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .banner .banner-div {
    width: 100%;
    padding: 20px;
    align-items: start;
  }
}
.outer-container .banner .banner-div .heading-ai {
  margin-top: 302px;
  font-size: 90.63px;
  font-weight: 700;
  line-height: 108.75px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #0096ff, #bb64ff, #f2416b, #eb7500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .outer-container .banner .banner-div .heading-ai {
    margin-top: 190px;
    font-size: 70px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .banner-div .heading-ai {
    font-size: 60px;
    line-height: 70px;
  }
}
@media screen and (max-width: 746px) {
  .outer-container .banner .banner-div .heading-ai {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .banner .banner-div .heading-ai {
    font-size: 40px;
    line-height: 50px;
    text-align: start;
  }
}
.outer-container .banner .banner-div .heading-ai .ai {
  display: inline-block;
  position: relative;
  top: -10px;
  left: -5px;
  width: 152px;
  height: 100px;
}
.outer-container .banner .banner-div .heading-ai .ai img {
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .outer-container .banner .banner-div .heading-ai .ai {
    width: 125px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .banner-div .heading-ai .ai {
    width: 100px;
    height: 70px;
  }
}
@media screen and (max-width: 780px) {
  .outer-container .banner .banner-div .heading-ai .ai {
    width: 66px;
    height: 66px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .banner .banner-div .heading-ai .ai {
    height: 55px;
  }
}
.outer-container .banner .banner-div .para {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  line-height: 24px;
  text-align: center;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .outer-container .banner .banner-div .para {
    width: 70%;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .banner-div .para {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 780px) {
  .outer-container .banner .banner-div .para {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .banner .banner-div .para {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    text-align: start;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
.outer-container .banner .banner-div button {
  box-shadow: 0px 20px 40px 0px rgba(10, 81, 201, 0.5);
  transition-property: background-color box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.outer-container .banner .banner-div button:hover {
  box-shadow: none;
}
@media screen and (max-width: 480px) {
  .outer-container .banner .banner-div button {
    margin: 0;
  }
}
.outer-container .banner .bottom-img {
  left: 28%;
  position: absolute;
  top: 770px;
  z-index: -10;
}
@media screen and (max-width: 1800px) {
  .outer-container .banner .bottom-img {
    left: 30%;
    top: 900px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-container .banner .bottom-img {
    top: 700px;
    left: 23%;
  }
}
@media screen and (max-width: 580px) {
  .outer-container .banner .bottom-img {
    top: 650px;
    left: 21%;
    height: 500px;
    width: 300px;
  }
}
@media screen and (max-width: 380px) {
  .outer-container .banner .bottom-img {
    display: none;
  }
}
.outer-container .banner .downarrow {
  margin-top: 113px;
  margin-bottom: 94px;
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .downarrow {
    margin-top: 170px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .banner .downarrow {
    margin-top: 120px;
  }
}
@media screen and (max-width: 540px) {
  .outer-container .banner .downarrow {
    margin-top: 100px;
    margin-bottom: 60px;
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .banner .downarrow {
    margin-top: 30px;
    margin-bottom: 74px;
  }
}
.outer-container .todosContainer {
  background-color: #f9f9f9;
  border-radius: 30px;
  margin: 0px auto;
  width: 86%;
  padding: 30px;
  margin-bottom: 120px;
}
@media screen and (max-width: 1440px) {
  .outer-container .todosContainer {
    padding: 25px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .todosContainer {
    padding: 20px;
    width: 90%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer {
    padding: 15px;
    margin-bottom: 50px;
  }
}
.outer-container .todosContainer .large-heading {
  width: 60%;
  margin-bottom: 30px;
}
@media screen and (max-width: 1440px) {
  .outer-container .todosContainer .large-heading {
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  .outer-container .todosContainer .large-heading {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .large-heading {
    margin-bottom: 10px;
  }
}
.outer-container .todosContainer .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
@media screen and (max-width: 1440px) {
  .outer-container .todosContainer .cards {
    gap: 25px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .todosContainer .cards {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .cards {
    gap: 15px;
  }
}
.outer-container .todosContainer .cards .card1 {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 23.5%;
  cursor: pointer;
}
@media screen and (max-width: 1700px) {
  .outer-container .todosContainer .cards .card1 {
    width: 30%;
  }
}
@media screen and (max-width: 950px) {
  .outer-container .todosContainer .cards .card1 {
    width: 48%;
  }
}
@media screen and (max-width: 628px) {
  .outer-container .todosContainer .cards .card1 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .cards .card1 {
    padding: 10px;
  }
}
.outer-container .todosContainer .cards .card1 .normal-text {
  margin: 0;
}
.outer-container .todosContainer .cards .card1:hover .card-heading {
  background: linear-gradient(to right, #bc1ae4 0%, #ff623f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 5s ease-in-out;
}
.outer-container .todosContainer .cards .card1 .m-img {
  margin-top: 20px;
  margin-bottom: 18px;
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .cards .card1 .m-img {
    margin: 10px 0;
  }
}
.outer-container .todosContainer .cards .card1 .anchor-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .cards .card1 .anchor-tag {
    gap: 0;
  }
}
.outer-container .todosContainer .cards .card1 .anchor-tag .learn {
  text-decoration: none !important;
  transition: transform 0.2s ease-in-out, color 0.1s;
  color: #707070;
  font-size: 16px;
  font-weight: 500;
  transform: translateX(-30%);
}
@media screen and (max-width: 1094px) {
  .outer-container .todosContainer .cards .card1 .anchor-tag .learn {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .todosContainer .cards .card1 .anchor-tag .learn {
    font-size: 12px;
  }
}
.outer-container .todosContainer .cards .card1 .anchor-tag svg {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s, transform 0.3s;
}
.outer-container .todosContainer .cards .card1:hover .anchor-tag svg {
  opacity: 1;
  transform: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.outer-container .todosContainer .cards .card1:hover .anchor-tag svg path {
  fill: #0096ff;
  transition: width 0.2s ease;
}
.outer-container .todosContainer .cards .card1:hover .anchor-tag a {
  color: #0096ff;
  text-decoration: none;
  transform: translateX(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.outer-container .seperator1 {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 134px solid #f9f9f9;
}
.outer-container .seperator2 {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-top: 134px solid #f9f9f9;
}
.outer-container .our-strategy {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px 150px 100px 150px;
  gap: 92px;
  display: flex;
}
@media screen and (max-width: 1600px) {
  .outer-container .our-strategy {
    padding: 105px;
  }
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy {
    flex-direction: column;
    padding: 90px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .our-strategy {
    padding: 60px;
    gap: 60px;
  }
}
@media screen and (max-width: 640px) {
  .outer-container .our-strategy {
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy {
    padding: 20px;
    padding-top: 0;
  }
}
.outer-container .our-strategy .text-container {
  width: 48%;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .text-container {
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy .text-container {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .text-container .large-heading {
    text-align: center;
  }
}
@media screen and (max-width: 1208px) {
  .outer-container .our-strategy .text-container .large-heading {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy .text-container .large-heading {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .text-container .normal-text {
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .outer-container .our-strategy .text-container .normal-text {
    width: 97%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy .text-container .normal-text {
    width: 100%;
  }
}
.outer-container .our-strategy .text-container button {
  margin: 0px auto;
  margin-left: 0;
  box-shadow: 0px 20px 40px 0px rgba(10, 81, 201, 0.5);
  transition-property: background-color box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.outer-container .our-strategy .text-container button:hover {
  box-shadow: none;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .text-container button {
    margin: auto;
  }
}
.outer-container .our-strategy .colorful-card {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .colorful-card {
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 650px) {
  .outer-container .our-strategy .colorful-card {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy .colorful-card {
    gap: 10px;
  }
}
.outer-container .our-strategy .colorful-card .card2 {
  width: 46%;
  padding: 15px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background: radial-gradient(circle at top left, white, rgba(192, 190, 221, 0.3));
}
@media screen and (max-width: 480px) {
  .outer-container .our-strategy .colorful-card .card2 {
    width: 48%;
    border-radius: 14px;
  }
}
.outer-container .our-strategy .colorful-card .card2 .z-img {
  position: absolute;
  left: 60px;
  top: 0px;
  width: 390px;
}
.outer-container .our-strategy .colorful-card .card2 .overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 50px 50px white;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: 0.5s cubic-bezier(0.28, 0.01, 0.63, 0.98);
  transform: translateX(500px);
}
.outer-container .our-strategy .colorful-card .card2:hover .overlay {
  transform: translateX(-500px);
}
.outer-container .our-strategy .colorful-card .card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 1px solid transparent;
  background: linear-gradient(109.92deg, #0096FF 12.78%, #BB64FF 37.63%, #F2416B 62.12%, #EB7500 87.3%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.outer-container .our-strategy .colorful-card .card2:hover::before {
  border: 0px solid transparent;
}
.outer-container .our-strategy .colorful-card .card2:hover .img-div {
  background: linear-gradient(to bottom right, #0096ff, #bb64ff, #f2416b, #eb7500);
}
.outer-container .our-strategy .colorful-card .card2:hover {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1), 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
}
.outer-container .our-strategy .colorful-card .img-div {
  border-radius: 8px;
  height: 40px;
  width: 40px;
  background-color: #202323;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-container .our-strategy .colorful-card .img-div img {
  width: 24px;
  height: 24px;
}
.outer-container .our-strategy .colorful-card .normal-text {
  margin-bottom: 0px;
}
.outer-container .our-strategy .colorful-card .first-card {
  top: -6px;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .colorful-card .first-card {
    top: 0;
  }
}
.outer-container .our-strategy .colorful-card .second-card {
  top: 45px;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .colorful-card .second-card {
    top: 0;
  }
}
.outer-container .our-strategy .colorful-card .third-card {
  top: -1px;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .colorful-card .third-card {
    top: 0;
  }
}
.outer-container .our-strategy .colorful-card .fourth-card {
  top: 49px;
}
@media screen and (max-width: 1520px) {
  .outer-container .our-strategy .colorful-card .fourth-card {
    top: 0;
  }
}
.outer-container .outer-why-choose {
  width: 85%;
  height: 800px;
  margin: auto;
  background-color: transparent;
  position: relative;
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose {
    width: 100%;
    padding: 20px;
    height: 590px;
  }
}
.outer-container .outer-why-choose .why-choose-us {
  background-color: #f9f9f9;
  border-radius: 30px;
  margin: 0px auto;
  width: 90%;
  height: 700px;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 120px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .outer-container .outer-why-choose .why-choose-us {
    padding: 25px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .outer-why-choose .why-choose-us {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .why-choose-us {
    padding: 15px;
    margin-bottom: 100px;
    height: 500px;
    margin-top: 50px;
  }
}
.outer-container .outer-why-choose .why-choose-us .large-heading {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .why-choose-us .large-heading {
    margin-bottom: 10px;
  }
}
.outer-container .outer-why-choose .why-choose-us .normal-text {
  text-align: center;
}
.outer-container .outer-why-choose .choose-div {
  cursor: pointer;
  top: -600px;
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div {
    top: -420px;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage {
  padding: 0px !important;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  margin-top: 41px;
  overflow: hidden;
  background: linear-gradient(to right, #307ffc, #a1c6ff, #136dfb);
  position: relative;
  height: 374px;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item {
    height: 280px;
    margin-top: 0;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .small-circle1 {
  width: 23%;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.5s ease-in;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .small-circle2 {
  width: 23%;
  position: absolute;
  left: 50px;
  bottom: 60px;
  transition: transform 0.5s ease-in;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .big-circle {
  width: 30%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: transform 0.2s ease-in;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .z-img {
  position: absolute;
  top: 0;
  left: 110px;
  width: 250px;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item h1 {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  animation: texth1 0.5s ease-in-out;
}
@media screen and (max-width: 1440px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h1 {
    font-size: 30px;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .h2 {
  display: none;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item h2 {
  font-size: 38px;
  font-weight: 300;
  color: #ffffff;
  line-height: 40px;
  animation: texth2 0.5s ease-in-out;
}
@media screen and (max-width: 1440px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h2 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h2 {
    font-size: 30px;
    line-height: 37px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .list {
  margin-top: 70px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(215, 215, 215, 0.2);
  border-radius: 15px;
  padding: 10px;
  width: 92%;
  position: absolute;
  z-index: 1;
  bottom: 19px;
  right: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1.79px solid rgba(215, 215, 215, 0.2);
  list-style-type: disc; /* Set the bullet style */
  list-style-position: outside;
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item .list {
    margin-top: 20px;
    margin-bottom: 0;
    bottom: 10px;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage .item .list li {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 20px;
  margin-left: 15px;
}
@media screen and (max-width: 480px) {
  .outer-container .outer-why-choose .choose-div .owl-stage .item .list li {
    font-size: 12px;
    line-height: 18px;
  }
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover {
  background: linear-gradient(to right, #0096ff, #bb64ff, #f2416b, #eb7500) border-box;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover h1 {
  animation: moveInOut 0.5s ease-in-out, moveIn 0.5s 0.5s ease-in-out;
  opacity: 0.5;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover h2 {
  animation: moveInOut2 0.5s ease-in-out, moveIn2 0.5s 0.5s ease-in-out;
  font-weight: 500;
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover .big-circle {
  transform: translateX(90%);
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover .small-circle1 {
  transform: translateX(100%);
}
.outer-container .outer-why-choose .choose-div .owl-stage .item:hover .small-circle2 {
  transform: translateX(-200%);
}
.outer-container .our-expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 85%;
  margin-bottom: 120px;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-expertise {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-expertise {
    margin-bottom: 60px;
    width: 100%;
    padding: 20px;
  }
}
.outer-container .our-expertise h1 {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-expertise h1 {
    width: 60%;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise h1 {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-expertise h1 {
    width: 80%;
  }
}
.outer-container .our-expertise .expertise-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  gap: 20px;
  width: 100%;
  justify-content: start;
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-expertise .expertise-div {
    margin-top: 20px;
    gap: 10px;
  }
}
.outer-container .our-expertise .expertise-div .divs {
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  gap: 23px;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
.outer-container .our-expertise .expertise-div .divs .z-img {
  position: absolute;
  left: 0;
  top: 8px;
  width: 290px;
}
.outer-container .our-expertise .expertise-div .divs .normal-text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 23px;
  width: 100%;
  text-align: start;
  color: #FFFFFF;
}
.outer-container .our-expertise .expertise-div .divs .lower-div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .divs .lower-div {
    justify-content: space-between;
    gap: 10px;
  }
}
.outer-container .our-expertise .expertise-div .divs .lower-div h3 {
  margin: 0px;
  display: flex;
  align-items: end;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-expertise .expertise-div .divs .lower-div h3 {
    font-size: 18px;
  }
}
.outer-container .our-expertise .expertise-div .divs .lower-div h3::after {
  content: "";
  width: 67px;
  height: 4px;
  bottom: 0px;
  background: white;
  border-radius: 30px;
  position: absolute;
}
.outer-container .our-expertise .expertise-div .divs .lower-div .img-div {
  padding: 23px;
  border-radius: 18px;
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-container .our-expertise .expertise-div .divs .lower-div .img-div .img1 {
  display: block;
}
.outer-container .our-expertise .expertise-div .divs .lower-div .img-div .img2 {
  display: none;
}
.outer-container .our-expertise .expertise-div .divs .overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 50px 50px white;
  overflow: hidden;
  height: 250px;
  width: 150px;
  transition: 0.7s cubic-bezier(0.28, 0.01, 0.63, 0.98);
  transform: translateX(900px);
  border-radius: 20px;
}
.outer-container .our-expertise .expertise-div .divs:hover .overlay {
  transform: translateX(-900px);
}
.outer-container .our-expertise .expertise-div .divs:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(192, 190, 221, 0.3));
  z-index: 2;
  border-radius: 20px;
  border: transparent;
  padding: 19px;
}
.outer-container .our-expertise .expertise-div .divs:hover .normal-text {
  color: #707070;
}
.outer-container .our-expertise .expertise-div .divs:hover .lower-div h3 {
  color: #202323;
}
.outer-container .our-expertise .expertise-div .divs:hover .lower-div h3::after {
  background: linear-gradient(to right, #0096ff, #bb64ff, #f2416b, #eb7500);
}
.outer-container .our-expertise .expertise-div .divs:hover .lower-div .img-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(192, 190, 221, 0.3));
  border-color: white;
}
.outer-container .our-expertise .expertise-div .divs:hover .lower-div .img-div .img1 {
  display: none;
  animation: fadeOut 0.1s ease-in-out;
}
.outer-container .our-expertise .expertise-div .divs:hover .lower-div .img-div .img2 {
  display: block;
  animation: fadeIn 0.1s ease-in-out;
}
.outer-container .our-expertise .expertise-div .divs:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(109.92deg, #0096FF 12.78%, #BB64FF 37.63%, #F2416B 62.12%, #EB7500 87.3%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  animation: borderColor 0.5 ease;
  z-index: 0;
}
.outer-container .our-expertise .expertise-div .div1 {
  background-color: #ff6f00;
  width: 39%;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div1 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div1 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div1 .lower-div .img-div {
  border: 1px solid #ffaa69;
  background-color: #ff9a4c;
}
.outer-container .our-expertise .expertise-div .div2 {
  width: 27%;
  background-color: #47c5fb;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div2 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div2 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div2 .lower-div .img-div {
  border: 1px solid #93ddfc;
  background-color: #7ed6fc;
}
.outer-container .our-expertise .expertise-div .div3 {
  width: 27%;
  background-color: #ff2d20;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div3 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div3 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div3 .lower-div .img-div {
  border: 1px solid #ff847b;
  background-color: #ff6c62;
}
.outer-container .our-expertise .expertise-div .div4 {
  width: 23%;
  background-color: #327ebd;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div4 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div4 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div4 .lower-div .img-div {
  border: 1px solid #6fa4d1;
  background-color: #86b3d8;
}
.outer-container .our-expertise .expertise-div .div5 {
  width: 23%;
  background-image: linear-gradient(#dd0031, #c3002f);
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div5 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div5 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div5 .lower-div .img-div {
  border: 1px solid #de6984;
  background-color: #d84c6d;
}
.outer-container .our-expertise .expertise-div .div6 {
  width: 23%;
  background-color: #3174b9;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div6 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div6 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div6 .lower-div .img-div {
  border: 1px solid #85add6;
  background-color: #6e9dce;
}
.outer-container .our-expertise .expertise-div .div7 {
  width: 23%;
  background-color: #00d8ff;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div7 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div7 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div7 .lower-div .img-div {
  border: 1px solid #69e8ff;
  background-color: #4ce4ff;
}
.outer-container .our-expertise .expertise-div .div8 {
  width: 31%;
  background-color: #74b857;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div8 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div8 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div8 .lower-div .img-div {
  border: 1px solid #add59c;
  background-color: #9dcd89;
}
.outer-container .our-expertise .expertise-div .div9 {
  width: 31%;
  background-color: #ee4c2c;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div9 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div9 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div9 .lower-div .img-div {
  border: 1px solid #f59583;
  background-color: #f3816b;
}
.outer-container .our-expertise .expertise-div .div10 {
  width: 31%;
  background-color: #0d2c40;
  border: 4px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 1094px) {
  .outer-container .our-expertise .expertise-div .div10 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .outer-container .our-expertise .expertise-div .div10 {
    width: 100%;
  }
}
.outer-container .our-expertise .expertise-div .div10 .lower-div .img-div {
  border: 1px solid #556b79;
  background-color: #70838f;
}
.outer-container .our-community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}
.outer-container .our-community h1 {
  width: 60%;
  margin: auto;
  margin-bottom: 45px;
}
@media screen and (max-width: 1094px) {
  .outer-container .our-community h1 {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-community h1 {
    width: 80%;
    margin-bottom: 30px;
  }
}
.outer-container .our-community .common {
  display: flex;
  margin-bottom: 120px;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common {
    margin-bottom: 60px;
  }
}
.outer-container .our-community .common .owl-stage-outer .owl-stage {
  padding: 0px !important;
  display: flex;
  align-items: flex-start; /* Aligns cards at the top */
  flex-wrap: nowrap; /* Ensures all cards stay on one line */
  gap: 30px;
}
.outer-container .our-community .common .owl-stage-outer .owl-stage .owl-item {
  width: 390px !important;
  margin-right: 0px !important;
}
.outer-container .our-community .common .community-divs {
  position: relative;
}
.outer-container .our-community .common .community-divs .people-div {
  display: flex;
  flex-direction: column;
  width: 390px;
  border-radius: 20px;
  background-color: #f3f4f6;
  padding: 30px 20px;
  position: relative;
}
.outer-container .our-community .common .community-divs .people-div .rectangle {
  position: absolute;
  left: 0;
  bottom: 71px;
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .people-div .rectangle {
    bottom: 56px;
  }
}
.outer-container .our-community .common .community-divs .people-div .rectangle2 {
  position: absolute;
  left: 201px;
  bottom: 0;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-community .common .community-divs .people-div .rectangle2 {
    left: 188px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .our-community .common .community-divs .people-div .rectangle2 {
    left: 175px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .people-div .rectangle2 {
    left: 148px;
  }
}
.outer-container .our-community .common .community-divs .people-div img {
  width: 36px;
  height: 36px;
}
.outer-container .our-community .common .community-divs .people-div p {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  margin-top: 40px;
  text-align: start;
  margin-bottom: 100px;
}
@media screen and (max-width: 1094px) {
  .outer-container .our-community .common .community-divs .people-div p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .people-div p {
    font-size: 14px;
  }
}
.outer-container .our-community .common .community-divs .testimonial {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  padding: 15px;
  gap: 15px;
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 20px;
}
.outer-container .our-community .common .community-divs .testimonial img {
  width: 55px;
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .testimonial img {
    width: 40px;
  }
}
.outer-container .our-community .common .community-divs .testimonial div {
  background-color: #ffffff;
}
.outer-container .our-community .common .community-divs .testimonial div .name {
  font-size: 18px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-community .common .community-divs .testimonial div .name {
    font-size: 16px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .our-community .common .community-divs .testimonial div .name {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .testimonial div .name {
    font-size: 12px;
  }
}
.outer-container .our-community .common .community-divs .testimonial div p {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  margin: 0px;
}
@media screen and (max-width: 1440px) {
  .outer-container .our-community .common .community-divs .testimonial div p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-container .our-community .common .community-divs .testimonial div p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .our-community .common .community-divs .testimonial div p {
    font-size: 12px;
  }
}
.outer-container .seperator {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 94px solid #f9f9f9;
}
@media screen and (max-width: 480px) {
  .outer-container .seperator {
    border-left: 100vw solid transparent;
    border-bottom: 4px solid #f9f9f9;
  }
}
.outer-container .footer {
  background-color: #f9f9f9;
  padding: 136px;
  padding-bottom: 40px;
  padding-top: 100px;
}
@media screen and (max-width: 1094px) {
  .outer-container .footer {
    padding: 100px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .footer {
    padding: 50px;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .footer {
    padding: 40px 20px;
  }
}
.outer-container .footer .adress-div {
  display: flex;
  gap: 50px;
  border-bottom: 1px solid #202323;
  padding-bottom: 55px;
  align-items: end;
}
@media screen and (max-width: 1600px) {
  .outer-container .footer .adress-div {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 876px) {
  .outer-container .footer .adress-div {
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .footer .adress-div {
    gap: 15px;
  }
}
.outer-container .footer .adress-div .adress {
  width: 23%;
}
@media screen and (max-width: 1650px) {
  .outer-container .footer .adress-div .adress {
    width: 30%;
  }
}
@media screen and (max-width: 1300px) {
  .outer-container .footer .adress-div .adress {
    width: 43%;
  }
}
@media screen and (max-width: 900px) {
  .outer-container .footer .adress-div .adress {
    width: 100%;
  }
}
.outer-container .footer .adress-div .adress h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1094px) {
  .outer-container .footer .adress-div .adress h2 {
    font-size: 18px;
  }
}
.outer-container .footer .adress-div .adress .start {
  text-align: start;
}
@media screen and (max-width: 480px) {
  .outer-container .footer .adress-div .adress .start {
    margin-bottom: 20px;
  }
}
.outer-container .footer .adress-div .adress .end {
  text-align: end;
}
@media screen and (max-width: 1600px) {
  .outer-container .footer .adress-div .adress .end {
    text-align: start;
  }
}
@media screen and (max-width: 480px) {
  .outer-container .footer .adress-div .adress .end {
    margin-bottom: 15px;
  }
}
.outer-container .footer .adress-div .adress .img-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .outer-container .footer .adress-div .adress .img-div {
    margin-bottom: 8px;
  }
}
.outer-container .footer .adress-div .adress .img-div p {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}
.outer-container .footer .adress-div .adress p {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}
.outer-container .footer .adress-div .adress .input-div {
  border: 1px solid #999a9c;
  border-radius: 30px;
  padding: 2px;
  margin-bottom: 13px;
  height: 48px;
  position: relative;
  display: flex;
}
.outer-container .footer .adress-div .adress .input-div input {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}
.outer-container .footer .adress-div .adress .input-div input:focus {
  border: none;
  outline: none;
}
.outer-container .footer .adress-div .adress .input-div img {
  margin: 0 5px 0 19px;
  width: 24px;
}
.outer-container .footer .adress-div .adress .input-div button {
  height: 42px;
  align-items: center;
  display: flex;
  box-shadow: 0px 20px 40px 0px rgba(10, 81, 201, 0.5);
  transition-property: background-color box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: absolute;
  text-transform: capitalize;
  right: 3px;
}
.outer-container .footer .adress-div .adress .input-div button:hover {
  box-shadow: none;
}
.outer-container .footer .foot {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 876px) {
  .outer-container .footer .foot {
    flex-direction: column;
  }
}
.outer-container .footer .foot p {
  font-size: 14px;
  font-weight: 500;
  color: #202323;
  margin: 0;
}
@media screen and (max-width: 876px) {
  .outer-container .footer .foot p {
    order: 2;
    margin-top: 15px;
    text-align: center;
  }
}
.outer-container .footer .foot .div-btn {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 876px) {
  .outer-container .footer .foot .div-btn {
    order: 1;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .outer-container .footer .foot .div-btn {
    flex-direction: column;
  }
}
.outer-container .footer .foot .div-btn .button {
  border: 1px solid #999a9c;
  padding: 12px;
  border-radius: 21px;
  display: flex;
  align-items: center;
  height: 38px;
  gap: 5px;
}
@media screen and (max-width: 380px) {
  .outer-container .footer .foot .div-btn .button {
    width: 123px;
    justify-content: center;
  }
}
.outer-container .footer .foot .div-btn .button svg path {
  fill: #202323;
}
.outer-container .footer .foot .div-btn .button p {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin: 0px;
  cursor: pointer;
}
.outer-container .footer .foot .div-btn .button:hover {
  border: 1px solid transparent;
  padding: 5px 12px;
  border-radius: 0px;
}
.outer-container .footer .foot .div-btn .faceLink:hover {
  border-bottom: 2px solid #0096ff;
}
.outer-container .footer .foot .div-btn .faceLink:hover svg path {
  border: none;
  fill: #0096ff;
}
.outer-container .footer .foot .div-btn .faceLink:hover p {
  color: #0096ff;
}
.outer-container .footer .foot .div-btn .insta:hover {
  border-bottom: 2px solid red;
}
.outer-container .footer .foot .div-btn .insta:hover p {
  color: red;
}
.outer-container .footer .foot .div-btn .insta:hover svg path {
  fill: red;
}

@keyframes moveIn {
  0% {
    transform: translateY(-120%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
@keyframes moveIn2 {
  0% {
    transform: translateX(200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInOut {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-120%);
    opacity: 1;
  }
}
@keyframes moveInOut2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes texth1 {
  0% {
    transform: translateY(-120%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes texth2 {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes borderColor {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}/*# sourceMappingURL=style.css.map */