@import "../functions/mixin.scss";
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.outer-container{
  .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 135px;
      border-bottom: 1px solid #DEDEDE;
      backdrop-filter: blur(18px);
      position: sticky;
      top: 0px;
      z-index: 10;
      .nav{
          display: flex;
          align-items: center;
          gap: 30px;
          z-index: 3;
          a{
              text-decoration: none;
              font-size: 16px;
              font-weight: 400;
              color: #707070;
              text-transform: uppercase;

              &:hover{
                color: #136DFB;
              }
          }
          .active{
              font-weight: 600;
              color: #136DFB;
          }

          button{
            transition-property:  background-color ;
            transition-duration: .3s;
            transition-timing-function:ease-in-out;
          
          }
      }
  }
  
  .outer-banner-body{
    position: relative;
    overflow: hidden;
    height: auto;

    .left,.right{
      border-radius: 50% 22% 40% 80%;
      width:900px;
      height:900px;
      position: absolute;
      z-index:0;
      top: 100px;
      }
      .left{  
          filter: blur(100px);
          left: -450px;
          background: radial-gradient(circle at 50% 50%,#C0BEDD,rgba(255, 255, 255, 0.2));
        
      }
      .left-img{
        position: absolute;
        left: 0;
        top: 200px;
      }
      .right{      
          filter: blur(40px);
          right: -250px;
          background: radial-gradient(circle at 50% 50%,#E5EAF9,rgba(255, 255, 255, 0.2));
          overflow: hidden;
      }
      .right-img{
        position: absolute;
        right: 0;
        top: 200px;
      }
      .bottom-img{
        left: 604px;
        position: absolute;
        top: 750px;
        z-index: -10;
      }
      .snake{
        z-index: 0;
        position: absolute;
      }
      .circle{
        position: absolute;
        left: 550px;
        top: 28.8%;
      }
  }
  
  .banner{
    display: flex;
    align-items: center;
    width: 100%;
   
    .banner-div{
        z-index: 1;
        @include flexProperty(flex, center, center);
        flex-direction: column;
        width: 70%;
        margin: auto;
      .heading-ai{
        margin-top: 300px;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(to right, #0096FF,#BB64FF,#F2416B,#EB7500);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        position: relative;
        .ai{
          display: inline-block;
          position: relative;
          top: -30px;
          left:0;
          width: 152px;
          height: 152px;
        }
      }
      .para{
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        line-height: 24px;
        text-align: center;
        width: 50%;
      }
      button{
        box-shadow: 0px 15px 60px 0px #0A51C9;
        transition-property:  background-color box-shadow;
        transition-duration: .3s;
        transition-timing-function:ease-in-out;
        &:hover{
          box-shadow: none;
        }
      }
    }
   
  }

  .todosContainer{
    background-color: #F9F9F9;
    border-radius: 30px;
    margin: 0px auto;
    width: 86%;
    padding: 30px;
    margin-bottom: 100px;
    .large-heading{
      width: 60%;
    }
    h3{
      margin-bottom: 20px;
    }
    h1{
      margin-bottom: 40px;
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      gap: 28px;
      .card1{
        background-color: #FFFFFF;
        padding: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 23.5%;
        cursor: pointer;
        .card-heading{
          // transition: color 5s ease-in; 
        }
        &:hover .card-heading{
          background: linear-gradient(to right,#BC1AE4 0%,#FF623F 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: background 1s ease-in-out;
        }
        .anchor-tag{
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          .learn{
            text-decoration: none !important;
            transition: transform 0.2s ease-in-out, color 0.1s;
            color: #707070;
            font-size: 16px;
            font-weight: 500;
            transform: translateX(-30%);
          }
          svg {
            opacity: 0;
            transform: scale(0.5);
            transition: opacity 0.3s, transform 0.3s;
          }   
          
        }
      }

      .card1:hover .anchor-tag svg{
          opacity: 1;
          transform: scale(1);
          transition-duration: .5s;
          transition-timing-function: ease-in;
      }

      .card1:hover .anchor-tag svg path{
          fill: #0096FF;
          transition: width .2s ease;
      }

      .card1:hover .anchor-tag a {
          color: #0096FF;
          text-decoration: none;
          transform: translateX(0);
          transition-duration: .5s;
          transition-timing-function: ease-in;
      }
    }
    
  }

  
  .our-strategy{
    margin-top: 200px;
    background-color: #F9F9F9;
    transform: skewy(5deg);
    width: 100%;
    padding: 150px;
    gap: 50px;
    display: flex;
    .text-container{
      width: 45%;
      transform: skewy(-5deg);
      z-index: 2;
      top: 42px;
      position: relative;
      .large-heading{
        width: 100%;
      }
      .normal-text{
        width: 97%;
      }
      button{
        box-shadow: 0px 15px 60px 0px #0A51C9;
        transition-property:  background-color box-shadow;
        transition-duration: .3s;
        transition-timing-function:ease-in-out;
        &:hover{
          box-shadow: none;
        }
      }
    }

    .colorful-card{
      transform: skewy(-5deg);
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    
      .card2{
        width: 46%;
        padding: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        cursor: pointer;
        position: relative; 
        border-radius: 15px;
        background:linear-gradient(to top left,rgb(192, 190, 221,0.4),rgba(255, 255, 255, 0.2));
        background-color:white;
        .z-img{
          position: absolute;
          left: 100px;
          top: 20px;
          width: 390px;
        }
        .img-div{
          border-radius: 8px;
          height: 40px;
          width: 40px;
          background-color: #202323;
          @include flexProperty(flex, center, center);
          img{
            width: 24px;
            height: 24px;
          }
        }
        .card-heading{
          margin-bottom: 0px !important;
        }
        .normal-text{
          margin-bottom: 0px;
        }

        .overlay{
          position: absolute;
          right: 0;
          top:0;
          bottom: 0;
          background-color: white;
          opacity: .5;
          overflow: hidden;
          width: 0;
          height: 100%;
          border-radius: 50%;
          transition: 0.5s ease;
          transition-property: width transform;
          // &:hover{
          //   width: 100%;
          // }
        }
        &::after{
          content: '';
          position: absolute;
          height: 107%;
          width: 102%;
          left: -3px;
          border-radius: 15px;
          background-image: linear-gradient( #0096FF, #BB64FF, #F2416B, #EB7500,#0096FF);
          z-index:-5;
        }

        &:hover .overlay{
          width: 100%;
          border-radius: 50%;
          transform: translateX(-500px);
         
        }
        &:hover{
          box-shadow: 0px 15px 60px 0px rgba(0,0,0,.3);
        }
      } 
     
     .first-card{
      top: -86px;
     }
     .second-card{
      top: -36px;
     }
     .third-card{
      top:-76px
     }
     .fourth-card{
      top:-26px
     }
    }
  }
 .outer-why-choose{
  width: 85%;
  height: 800px;
  margin: auto;
  background-color: transparent;
  .why-choose-us{
    background-color: #F9F9F9;
    border-radius: 30px;
    margin: 0px auto;
    width: 90%;
    height: 700px;
    // opacity: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    margin-bottom: 120px;
    margin-top: 200px;
    position: relative;
  
  }
  .choose-div{
    // display: flex;
    // padding-bottom: 100px;
    // width: 100%;
    // z-index: 3;
    // flex-direction: column;
    cursor: pointer;
    top: -600px;
    .owl-stage{
      padding: 0px !important;
     
        .item{
          display: flex;
          flex-direction: column;
          // justify-content: start;
          border-radius: 15px;
          padding: 20px;
          margin-top: 41px;
          overflow:hidden;
          background:linear-gradient(to right,#307FFC,#A1C6FF,#136DFB);
          // // z-index: 2;
          width: 100%;
          position: relative;
          .small-circle1{
            width: 23%;
            position: absolute;
            top: 10px;
            right: 10px;
          } 
          .small-circle2{
            width: 23%;
            position: absolute;
            left: 50px;
            bottom: 60px;
          }
          .big-circle{
            width: 30%;
            position: absolute;
            right: 0px;
            bottom:0px;
          }
          .z-img{
            position: absolute;    
            top: -2px;
            left: 18px;
          }
          h1{
            font-size: 48px;
            font-weight: 600;
            color: #FFFFFF;
            transition: transform .1s ease;
            transform: translateY(10%);
          }
          h2{
            font-size: 38px;
            font-weight: 300;
            color: #FFFFFF;
            line-height: 40px;
          }
          .list{
            margin-top: 70px;
            backdrop-filter: blur(10px);
            background-color: #D7D7D733;
            border-radius: 15px;
            padding: 10px;
            width: 100%;
            z-index: 1;
            li{
              font-size: 14px;
              font-weight: 500;
              color: #FFFFFF;
            }
          }
    
          &:hover{
           background: linear-gradient(to right, #0096FF,#BB64FF,#F2416B,#EB7500) border-box;
          }
          &:hover h1{
            // transform: translateY(-100%);
            opacity: 0.5;
          }
          &:hover h2{
            transition-timing-function: ease-out;
            font-weight: 500;
          }
           &:hover .big-circle {
            transition: transform .1s ease;
            transform: translateX(90%);
          }
    
          &:hover .small-circle1{
            transition: transform .1s ease;
            transform: translateY(-100%);
          }
    
          &:hover .small-circle2{
            transition: transform .1s ease;
            transform: translateX(-200%);
          }
        }
      
    }
    
    
  }}
.our-expertise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 82%;
  margin-bottom: 120px;
  h1{
    width: 50%;
    margin: auto;
  }
 .expertise-div{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
  width: 100%;
  .divs{
    background-color: #FF6F00;
    border-radius: 20px;
    border: 4px solid #FF9A4C;
    padding: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .z-img{
      position: absolute;
      left:0;
      top:8px;
      width: 335px;
    }
    p{
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 23px;
      width: 100%;
      text-align: start;
    }
    .lower-div{
      display: flex;
      justify-content: space-between;
      position: relative;
      h3{
        margin: 0px;
        display: flex;
        align-items: end;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        &::after{
          content: "";
          width: 67px;
          height: 4px;
          bottom: 0px;
          background: white;
          border-radius: 30px;
          position: absolute;
        }
      }
      .img-div{
        border: 1px solid #FFAA69;
        background-color: #FF9A4C;
        padding: 23px;
        border-radius: 18px;
        width: 105px;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .overlay{
      position: absolute;
      right: 0;
      top:0;
      bottom: 0;
      background-color: white;
      opacity: .5;
      overflow: hidden;
      width: 0;
      height: 100%;
      border-radius: 50%;
      transition: 0.5s ease;
      transition-property: width transform;
      // &:hover{
      //   width: 100%;
      // }
    }

    &:hover .overlay{
      width: 100%;
      border-radius: 50%;
      transform: translateX(-700px);
    }
    &:hover{
      box-shadow: 0px 15px 60px 0px rgba(0,0,0,.3);
      background:linear-gradient(to top right,rgb(192, 190, 221,0.4),rgba(255, 255, 255, 0.2));
      background-color:white;
      color: #707070;
      border-color: transparent;
      .lower-div{
        h3{
          color: #202323;
        }
        h3::after{
          background:  linear-gradient(to right, #0096FF, #BB64FF, #F2416B, #EB7500);
        }
        .img-div{
          box-shadow:  0px 15px 60px 0px rgba(0,0,0,0.3);
          background:linear-gradient(to top right,rgb(192, 190, 221,0.4),rgba(255, 255, 255, 0.2));
          background-color:white;
          border-color: white;
          svg{
            fill: currentColor;
          }
        }
      }
    }

  }

  .divs:hover::after{
    content: '';
    position: absolute;
    height: 120%;
    width: 112%;
    left: 0px;
    border-radius: 15px;
    background-image: linear-gradient( #0096FF, #BB64FF, #F2416B, #EB7500,#0096FF);
    z-index:-5;
}
  .div1{
    width: 39%;
    &:hover .lower-div .img-div svg path{
          fill:#FF6F00 ;  
    }
  }
  .div2{
    width: 27%;
    background-color: #47C5FB;
    border: 4px solid #7ED6FC;
    .lower-div{
      .img-div{
        border: 1px solid #93DDFC;
        background-color: #7ED6FC;
      }
    }
    &:hover .lower-div .img-div svg path{
      fill:#47C5FB ;  
    }
  }

  .div3{
    width: 27%;
    background-color: #FF2D20;
    border: 4px solid #FF6C62;
    .lower-div{
      .img-div{
        border: 1px solid #FF847B;
        background-color: #FF6C62;
      }
    }
    &:hover .lower-div .img-div svg path{
      fill:#FF2D20 ;  
    }
  }


  .div4{
    width: 23%;
    background-color: #327EBD;
    border: 4px solid #6FA4D1;
    .lower-div{
      .img-div{
        border: 1px solid #6FA4D1;
        background-color: #86B3D8;
      }
    }
    &:hover .lower-div .img-div svg path{
      fill:#327EBD ;  
    }
  }


  .div5{
    width: 23%;
    background-image: linear-gradient(#DD0031,#C3002F);
    border: 4px solid #DA4C6D;
    .lower-div{
      .img-div{
        border: 1px solid #DE6984;
        background-color: #D84C6D;
      }
    }
    &:hover .lower-div .img-div svg path{
      fill:linear-gradient(#DD0031,#C3002F) ;  
    }
  }


  .div6{
    width: 23%;
    background-color: #3174B9;
    border: 4px solid #6E9DCE;
    .lower-div{
      .img-div{
        border: 1px solid #85ADD6;
        background-color: #6E9DCE;
      }
    }
    &:hover .lower-div .img-div svg path{
      fill:#3174B9 ;  
    }
  }


  .div7{
    width: 23%;
    background-color: #00D8FF;
    border: 4px solid #4CE4FF;
    .lower-div{
      .img-div{
        border: 1px solid #69E8FF;
        background-color: #4CE4FF;
      }
    }

    &:hover .lower-div .img-div svg path{
      fill:#00D8FF ;  
    }
  }

  .div8{
    width: 31%;
    background-color: #74B857;
    border: 4px solid #9DCD89;
    .lower-div{
      .img-div{
        border: 1px solid #ADD59C;
        background-color: #9DCD89;
      }
    }

    &:hover .lower-div .img-div svg path{
      fill:#74B857 ;  
    }
  }

  .div9{
    width: 31%;
    background-color: #EE4C2C;
    border: 4px solid #F3816B;
    .lower-div{
      .img-div{
        border: 1px solid #F59583;
        background-color: #F3816B;
      }
    }

    &:hover .lower-div .img-div svg path{
      fill:#EE4C2C;  
    }
  }

  .div10{
    width: 31%;
    background-color: #0D2C40;
    border: 4px solid #556B79;
    .lower-div{
      .img-div{
        border: 1px solid #556B79;
        background-color: #70838F;
      }
    }

    &:hover .lower-div .img-div svg path{
      fill:#0D2C40;  
    }
  }
 }
}

.our-community{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
  h1{
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
  }
.common{
  display: flex;
  flex-wrap:nowrap;
  margin-bottom: 200px;

    .owl-stage-outer{
      .owl-stage{
        padding: 0px !important;
      

      .owl-item{
        width: 390px !important;
        } 
      }
    }
  
  .community-divs{
    position: relative;
    .people-div{
      display: flex;
      flex-direction: column;
      width: 390px;
      border-radius: 20px;
      background-color: #F3F4F6;
      padding: 30px 20px;
      position: relative;
     
      .rectangle{
        position: absolute;
        left: 0;
        bottom: 71px;
      }
      .rectangle2{
        position: absolute;
        left: 201px;
        bottom: 0;
      }
      img{
        width: 36px;
        height: 36px;
      }
      p{
        font-size: 18px;
        font-weight: 500;
        color: #707070;
        margin-top: 40px;
        text-align: start;
        margin-bottom: 100px;
      }

     
    } 
    .testimonial{
      position: absolute;
      display: flex;
      background-color: #FFFFFF;
      padding: 15px;
      gap: 15px;
      bottom: 0px;
      left: 0px;
      border-top-right-radius: 20px;
      img{
        width: 55px;
      }
      div{
        background-color: #FFFFFF;
        .name{
          font-size: 18px;
          font-weight: 600;
          color: #202323;
        }
        p{
          font-size: 18px;
          font-weight: 500;
          color: #707070;
          margin: 0px;
        }
      }
      
    }
  }
}
 


}

.footer{
  transform: skewy(-5deg);
  background-color: #F9F9F9;
  padding: 150px;
  @media screen and (max-width:1094px) {
    padding: 100px;
  }
  @media screen and (max-width:480px) {
    padding: 50px;
  }
  .adress-div{
    transform: skewy(5deg);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #202323;
    padding-bottom: 55px;
    align-items: end;
    .adress{
      h2{
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
        color: #202323;
        @media screen and (max-width:1094px){
          font-size: 18px;
        }    
      }
      .start{
        text-align: start;
      }
      .end{
        text-align: end;
      }
      .img-div{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        p{
          margin: 0px;
          font-size: 14px;
          font-weight: 600;
          color: #707070;
          cursor: pointer;
        }
      }
      p{
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        cursor: pointer;
      }

      .input-div{
        border: 1px solid #999A9C;
        border-radius: 30px;
        padding: 2px;
        margin-bottom: 13px;
        height: 48px;
        display: flex;
        input{
          border: none;
          background: transparent;
          font-size: 14px;
          font-weight: 600;
          color: #707070;
          &:focus{
            border: none;
            outline: none;
          }
        }
        img{
          margin: 0 5px 0 19px;
          width: 24px;
        }
        button{
          height: 42px;
          align-items: center;
          display: flex;
          box-shadow: 0px 15px 60px 0px #0A51C9;
          transition-property:  background-color box-shadow;
          transition-duration: .3s;
          transition-timing-function:ease-in-out;
          &:hover{
            box-shadow: none;
          }
        }
      }
    }
  }

  .foot{
    margin-top: 40px;
    margin-bottom: 40px;
    transform: skewy(5deg);
    font-size: 14px;
    font-weight: 500;
    color: #202323;
    display: flex;
    justify-content: space-between;
    .div-btn{
      display: flex;
      gap: 15px;
      .button{
        border: 1px solid #999A9C;
        padding: 12px;
        border-radius: 21px;
        display: flex;
        align-items: center;
        height: 38px;
        gap: 5px;
        svg path{
          fill: #202323;
        }
        p{
          font-size: 14px;
          font-weight: 500;
          color: #262626;
          margin: 0px;
          cursor: pointer;
        }
        
      }

      .button:hover{
        border: 1px solid transparent;
        padding: 5px 12px;
        border-radius: 0px;
      }
      .faceLink:hover {
        border-bottom:2px solid #0096FF; 
        svg path{
          border: none;
          fill: #0096FF;
        }
      }
      .faceLink:hover p{
        color: #0096FF;
        // border-bottom: 1px solid #0096FF;
      }

      .insta:hover {
        border-bottom:2px solid red;
        p{
          color: red;
          // border-bottom: 1px solid red;
      }}
      .insta:hover svg path{
        fill: red;
      }
    }
  }
}
}
